
@import 'variables.scss';
/********** MEDIA QUERY INDEX *********
1. START MEDIUM DEVICES, TABLETS. SIZE(min-width: 992px) and (max-width: 1200px)
2. START SMALL DEVICES, TABLETS. SIZE(min-width: 768px) and (max-width: 991px)
3. START SMALL DEVICES, PHONES. SIZE(max-width: 767px)
4. START EXTRA SMALL DEVICES, PHONES. SIZE(max-width: 480px)
5. START EXTRA SMALL DEVICES, PHONES. SIZE(max-width: 320px)
*****************************************/

/************************************************
1. START MEDIUM DEVICES, TABLETS. SIZE(min-width: 992px) and (max-width: 1200px)
************************************************/
  @media (min-width: 992px) and (max-width: 1200px) {
    .container {
      max-width: 100%;
    }

    .ms-navbar-fixed {
      padding: 2rem 0;
    }
  }
/************************************************
End medium Devices, Desktops
************************************************/

/************************************************
2. START SMALL DEVICES, TABLETS. SIZE(min-width: 768px) and (max-width: 991px)
************************************************/
  @media (min-width: 768px) and (max-width: 991px) {
      /******** Start common style ********/
      h1, .h1 {
        font-size: 1.5rem;
      }
    
      h2, .h2,
      h4, .h4 {
        font-size: 1.3rem;
      }
      
      h5, .h5 {
        font-size: 1rem;
      }
    
    .container {
      max-width: 100%;
    }
    /******** End common style ********/

    /******** Start page wrapper ********/
    .ms-page-wrapper {

      /******** Home content ********/
      .ms-home-content {
        margin-top: 8rem;
      }

      /******** Start home style 'ms-home-btm-triangle' ********/
      .ms-home-btm-triangle {
        &::after,
        &::before {
          border-top: 6rem solid transparent;
        }
      }
      /******** End home style 'ms-home-btm-triangle' ********/

      /******** Start home style 'ms-home-btm-wave' ********/
      .ms-wave-1::after{
        height: 160px;
      }
      /********Start home style 'ms-home-btm-wave' ********/

    }
    /******** End page wrapper ********


    /******** Start blog list page ********/
    .ms-blogs-container {
      padding-top: 4rem;
    }
    /******** End blog list page ********/

    /******** Start blog details page ********/
    .ms-blog-details-container {
      padding: 3rem 0;
      
      & > .container {
        max-width: 90%;
      }
    }
    /******** End blog details page ********/

    /******** Start sign in page ********/
    .ms-sign-form-container {
      width: 80vw;
    }
    /******** End sign in page ********/

    /******** Start coming soon page ********/
    .ms-coming-soon-container {
      .ms-date-count-container {
        &::before {
          display: none !important;
        }
      }
    }
    /******** End coming soon page ********/


    /******** Start coming soon page ********/
    .ms-coming-soon-container {
      .ms-subscribe-box {
        width: 60%;
      }
    }
    /******** End coming soon page ********/

  }
/************************************************
  END SMALL DEVICES, TABLETS
************************************************/
  

/************************************************
3. START SMALL DEVICES, PHONES. SIZE(max-width: 767px)
************************************************/
  @media (max-width: 767px) {
    /******** Start common style ********/
    h1, .h1 {
      font-size: 1.5rem;
    }

    h2, .h2,
    h4, .h4 {
      font-size: 1.3rem;
    }
    
    h5, .h5 {
      font-size: 1rem;
    }

    .container {
      max-width: 100%;
    }

    .slick-prev,
    .slick-next {
      z-index: 2;

      &::before {
        opacity: 1;
      }
    }
    .ms-comment-media, 
    .ms-comment-reply-media {
      .ms-comment-author-avatar img {
        width: 2rem;
        height: 2rem;
      }
    }

    .ms-big-btn:not(:last-child) {
      margin-right: 0.5rem;
    }

    .ms-item-container {
      padding: 3.5rem 0;
    }
    /******** End common style ********/

    /******** Start section header ********/
    .ms-section-header {
      width: 100%;
      margin: 0 auto 3rem;
    }
    //End section header

    /******** Page wrapper container ********/
    .ms-page-wrapper {

      /******** Start main navbar style ********/
      .ms-navbar-fixed {

        &.ms-fixed {
          padding: 0.5rem 1rem;
        }

        .navbar-collapse .nav-link{
          @include displayFlex();
          justify-content: center;
          align-items: center;
          margin: 0;
          font-size: 1.25rem;
        }

        /******** Backgound color when navbar is opened ********/
        &.show {
          @include commonBg();
        }

        [aria-expanded="true"] {
          opacity: 1;
        }

        .navbar-collapse {
          overflow: hidden;
        }

      }
      /******** End main navbar style ********/


      /******** Start home content ********/
      .ms-home-item {
        .ms-home-content {
          margin-top: 5rem;
          padding-right: 1rem;
          margin-top: 3rem;
          padding: 0;
          text-align: center;
          flex-basis: unset;
        
          .ms-home-level {
            font-size: 0.95rem;
          }
        }

        .container {
          justify-content: center;
          align-items: center;
        }

        .ms-home-slider-img {
          margin-top: 2rem;
          flex-basis: unset;

          img  {
            margin: 0 auto;
          }
        }

        .img-fluid {
          max-width: 50%;
        }

      }

      /******** Home style 3 ********/
      .ms-home-style-3 {
    
        .ms-home-item {
          .ms-home-content {
            width: 100%;
            margin-bottom: 10rem;
          }

          .ms-content-container {
            width: 100%;
          }
        }
      }

      .ms-home-style-4{
        .ms-home-item {
          .ms-content-container {
            width: 100%;
          }
        }
      }

      .ms-home-style-5 {
        .ms-home-item {

          .ms-home-content {
            margin-bottom: 8rem;
          }

          .ms-content-container {
            width: 100%;
          }
        }
      }

      /******** Start home style 'ms-home-btm-triangle' ********/
      .ms-home-btm-triangle {
        &::after,
        &::before {
          border-top: 6rem solid transparent;
        }

        .ms-home-slider-img {
          margin-bottom: 5rem;
        }
      }
      /******** End home style 'ms-home-btm-triangle' ********/

      /******** Start home style 'ms-home-btm-wave' ********/
      .ms-wave-1::after {
        height: 125px;
      }
      /******** Start home style 'ms-home-btm-wave' ********/

      /******** End home content ********/
    }

    /******** Start home bottom video style ********/
    .ms-home-btm-video-container {
      .ms-home-video {
        width: 460px;
      }
    }
    /******** End home bottom video style ********/

    /******** Start work it section ********/
    .ms-work-imgs-box {
      @include displayFlex();
      justify-content: center;
    }
    /******** End work it section ********/


    /******** Start video section ********/
    .ms-video-container {
      height: 350px;
    }
    /******** End video section ********/

    /******** Start contact section ********/
    .ms-contact-container {
      max-width: 94%;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;

      .ms-address-description {
        margin-bottom: 2rem;
      }

      .ms-address-box,
      .ms-contact-us-box {
        padding: 1.5rem;
      }
      
      .ms-address-box {
        border-bottom-left-radius: 0;
        border-top-right-radius: $radius;

        .ms-address-info {
          margin-bottom: 0;
        }
      }
      
      .ms-contact-us-box {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        border-top-right-radius: 0;
      }
    }
    /******** End contact section ********/


    /******** Start footer section ********/
    .ms-footer {
      margin-top: 13rem;
      padding: 3rem 0 3rem;
    }

    .ms-footer-copyright-container {
      margin-top: 0;
      @include displayFlex();
      @include flexDirection(column);
      justify-content: center;
      align-items: center;

      .ms-footer-copyright {
        margin-bottom: 2rem;
      }
    }
    /******** End footer section ********/


    /******** Start blog list page ********/
    .ms-blogs-container {
      padding-top: 2rem;
    }
    /******** End blog list page ********/

    /******** Start blog details page ********/
    .ms-blog-details-container {
      padding: 2rem 0;
    }
    /******** End blog details page ********/


    /******** Start inner content page ********/
    .ms-inner-page {
      .ms-inner-content-container {
        margin: 8rem auto 2rem 0;
      }
    }
    /******** End inner content page ********/

    /******** Start footer style page ********/
    .ms-footer-item-group {
      @include flexDirection(column);
      justify-content: center;
      align-items: center;

      .ms-footer-item {
        align-items: center;
      }

      .ms-first-sm-btn {
        margin: 0 !important;
      }
    }
    /******** End footer style page ********/


    /******** Start sign in page ********/
    .ms-sign-form-container {
      width: 80vw;

      .ms-sign-form {
        width: 100%;
      }

      &.ms-open-signup-form .ms-sign-form {
        right: 0;
      }
    }
    /******** End sign in page ********/

    /******** Start error page ********/
    .ms-error-page-container {
      .ms-error-page-top .h1 {
        font-size: 6rem;
        letter-spacing: 1.25rem;
      }
    }
    /******** End error page ********/

    /******** Start coming soon page ********/
    .ms-coming-soon-container {
      margin: 3rem 0;
      height: 100%;

      .ms-coming-soon-title {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .ms-date-count-container {
        margin-left: auto;
        margin-right: auto;
        
        h2 {
          font-size: 2rem;
          line-height: 4rem;
          margin-bottom: 0;
        }

        &::before {
          display: none !important;
        }
      }

      .ms-subscribe-box {
        width: 80%;
        margin-top: 0;
      }
    }
    /******** End coming soon page ********/

  }
/************************************************
END SMALL DEVICES, PHONES
************************************************/


/************************************************
4. START EXTRA SMALL DEVICES, PHONES. SIZE(max-width: 480px)
************************************************/
  @media (max-width: 480px){

    .ms-home-bg-img .ms-home-bg-overlay {
      background-position: center;
    }

    .ms-big-btn:not(:last-child){
      margin-right: 0;
    }

    .ms-home-btm-cloud::after {
      height: 80px;
    }

    /******** Start home bottom video style ********/
    .ms-home-btm-video-container {
      .ms-home-video {
        width: 95vw;
        height: 250px;
      }
    }
    /******** End home bottom video style ********/

    /******** Start sign in page ********/
    .ms-sign-form-container {
      width: 100%;

      .ms-sign-form .ms-form-box {
        padding: 2rem;
      }
    }
    /******** End sign in page ********/


    /******** Start coming soon page ********/
    .ms-coming-soon-container {
      .ms-subscribe-box {
        width: 100%;
        margin-top: 0;
      }
    }
    /******** End coming soon page ********/

  }
/************************************************
END EXTRA SMALL DEVICES, PHONES
************************************************/


/************************************************
5. START EXTRA SMALL DEVICES, PHONES. SIZE(max-width: 320px)
************************************************/
  @media (max-width: 320px) {
    .ms-footer-copyright-container {
      p {
        font-size: 0.8rem;
        font-weight: bolder;
      }
    }
  }
/************************************************
END EXTRA SMALL DEVICES, PHONES
************************************************/