@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?73512422');
  src: url('../font/fontello.eot?73512422#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?73512422') format('woff2'),
       url('../font/fontello.woff?73512422') format('woff'),
       url('../font/fontello.ttf?73512422') format('truetype'),
       url('../font/fontello.svg?73512422#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?73512422#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mobile-1:before { content: '\e800'; } /* '' */
.icon-power-off:before { content: '\e801'; } /* '' */
.icon-note:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-th-large:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-settings:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-tasks:before { content: '\e809'; } /* '' */
.icon-paper-plane-o:before { content: '\e80a'; } /* '' */
.icon-support:before { content: '\e80b'; } /* '' */
.icon-double-down-arrow:before { content: '\e80c'; } /* '' */
.icon-unlock:before { content: '\e80d'; } /* '' */
.icon-quote-left:before { content: '\e80e'; } /* '' */
.icon-android:before { content: '\e80f'; } /* '' */
.icon-apple:before { content: '\e810'; } /* '' */
.icon-resize-small-alt:before { content: '\e811'; } /* '' */
.icon-quote-right:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-star-block:before { content: '\e814'; } /* '' */
.icon-scroll-down:before { content: '\e815'; } /* '' */
.icon-thumb-up:before { content: '\e816'; } /* '' */
.icon-dribbble:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-resize-full-alt:before { content: '\e819'; } /* '' */
.icon-resize-vertical:before { content: '\e81a'; } /* '' */
.icon-resize-horizontal:before { content: '\e81b'; } /* '' */
.icon-upload-cloud:before { content: '\e820'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */
.icon-ccw:before { content: '\e827'; } /* '' */
.icon-cw:before { content: '\e828'; } /* '' */
.icon-arrows-ccw:before { content: '\e829'; } /* '' */
.icon-edit:before { content: '\e82c'; } /* '' */
.icon-attach:before { content: '\e82d'; } /* '' */
.icon-users:before { content: '\e82f'; } /* '' */
.icon-paper-plane:before { content: '\e830'; } /* '' */
.icon-doc:before { content: '\e832'; } /* '' */
.icon-link:before { content: '\e83c'; } /* '' */
.icon-phone:before { content: '\e83d'; } /* '' */
.icon-home:before { content: '\e83e'; } /* '' */
.icon-heart:before { content: '\e83f'; } /* '' */
.icon-design:before { content: '\e840'; } /* '' */
.icon-hand-tab:before { content: '\e841'; } /* '' */
.icon-headphones:before { content: '\e842'; } /* '' */
.icon-comment:before { content: '\e843'; } /* '' */
.icon-rocket:before { content: '\e844'; } /* '' */
.icon-paint-bucket:before { content: '\e845'; } /* '' */
.icon-th:before { content: '\e846'; } /* '' */
.icon-download:before { content: '\e847'; } /* '' */
.icon-cloud-down:before { content: '\e848'; } /* '' */
.icon-crown:before { content: '\e849'; } /* '' */
.icon-play:before { content: '\e84a'; } /* '' */
.icon-thumb-down:before { content: '\e84b'; } /* '' */
.icon-close:before { content: '\e84c'; } /* '' */
.icon-calendar:before { content: '\e84d'; } /* '' */
.icon-time:before { content: '\e84f'; } /* '' */
.icon-link-text:before { content: '\e850'; } /* '' */
.icon-ok:before { content: '\e851'; } /* '' */
.icon-eye:before { content: '\e852'; } /* '' */
.icon-contact:before { content: '\e853'; } /* '' */
.icon-user:before { content: '\e855'; } /* '' */
.icon-search:before { content: '\e856'; } /* '' */
.icon-down:before { content: '\e857'; } /* '' */
.icon-arrow-left:before { content: '\e858'; } /* '' */
.icon-arrow-right:before { content: '\e859'; } /* '' */
.icon-up:before { content: '\e85a'; } /* '' */
.icon-facebook:before { content: '\e85b'; } /* '' */
.icon-twitter:before { content: '\e85c'; } /* '' */
.icon-angle-down:before { content: '\e85d'; } /* '' */
.icon-angle-left:before { content: '\e85e'; } /* '' */
.icon-angle-right:before { content: '\e85f'; } /* '' */
.icon-angle-up:before { content: '\e860'; } /* '' */
.icon-menu:before { content: '\e862'; } /* '' */
.icon-more-alt:before { content: '\e864'; } /* '' */
.icon-alert:before { content: '\e865'; } /* '' */
.icon-face-smile:before { content: '\e866'; } /* '' */
.icon-na:before { content: '\e867'; } /* '' */
.icon-arrow-circle-left:before { content: '\e868'; } /* '' */
.icon-arrow-circle-right:before { content: '\e869'; } /* '' */
.icon-trash:before { content: '\e86c'; } /* '' */
.icon-reports:before { content: '\e86e'; } /* '' */
.icon-bell:before { content: '\e86f'; } /* '' */
.icon-google-plus:before { content: '\e870'; } /* '' */
.icon-check-box:before { content: '\e871'; } /* '' */
.icon-email:before { content: '\e872'; } /* '' */
.icon-code:before { content: '\e875'; } /* '' */
.icon-pause:before { content: '\e8e2'; } /* '' */
.icon-agenda:before { content: '\e918'; } /* '' */
.icon-alarm-clock:before { content: '\e919'; } /* '' */
.icon-align-center:before { content: '\e91b'; } /* '' */
.icon-align-justify:before { content: '\e91c'; } /* '' */
.icon-align-left:before { content: '\e91d'; } /* '' */
.icon-align-right:before { content: '\e91e'; } /* '' */
.icon-anchor:before { content: '\e91f'; } /* '' */
.icon-angle-double-down:before { content: '\e921'; } /* '' */
.icon-angle-double-left:before { content: '\e922'; } /* '' */
.icon-angle-double-right:before { content: '\e923'; } /* '' */
.icon-angle-double-up:before { content: '\e924'; } /* '' */
.icon-announcement:before { content: '\e929'; } /* '' */
.icon-arrow-top-left:before { content: '\e933'; } /* '' */
.icon-arrow-top-right:before { content: '\e934'; } /* '' */
.icon-arrow:before { content: '\e936'; } /* '' */
.icon-arrows-corner:before { content: '\e937'; } /* '' */
.icon-arrows-horizontal:before { content: '\e938'; } /* '' */
.icon-arrows-vertical:before { content: '\e939'; } /* '' */
.icon-back-left:before { content: '\e93a'; } /* '' */
.icon-back-right:before { content: '\e93b'; } /* '' */
.icon-blackboard:before { content: '\e941'; } /* '' */
.icon-bolt-alt:before { content: '\e942'; } /* '' */
.icon-bolt:before { content: '\e944'; } /* '' */
.icon-briefcase:before { content: '\e947'; } /* '' */
.icon-brush-alt:before { content: '\e948'; } /* '' */
.icon-brush:before { content: '\e949'; } /* '' */
.icon-camera:before { content: '\e94b'; } /* '' */
.icon-car:before { content: '\e94c'; } /* '' */
.icon-clip:before { content: '\e94f'; } /* '' */
.icon-clipboard:before { content: '\e950'; } /* '' */
.icon-cloud:before { content: '\e954'; } /* '' */
.icon-comment-alt:before { content: '\e955'; } /* '' */
.icon-comments-smiley:before { content: '\e957'; } /* '' */
.icon-comments:before { content: '\e958'; } /* '' */
.icon-control-backward:before { content: '\e959'; } /* '' */
.icon-control-eject:before { content: '\e95a'; } /* '' */
.icon-control-forward:before { content: '\e95b'; } /* '' */
.icon-control-pause:before { content: '\e95c'; } /* '' */
.icon-control-play:before { content: '\e95d'; } /* '' */
.icon-control-shuffle:before { content: '\e95f'; } /* '' */
.icon-control-skip-backward:before { content: '\e960'; } /* '' */
.icon-control-skip-forward:before { content: '\e961'; } /* '' */
.icon-control-stop:before { content: '\e962'; } /* '' */
.icon-css3:before { content: '\e965'; } /* '' */
.icon-desktop:before { content: '\e969'; } /* '' */
.icon-direction-alt:before { content: '\e96a'; } /* '' */
.icon-direction:before { content: '\e96b'; } /* '' */
.icon-dropbox-alt:before { content: '\e96e'; } /* '' */
.icon-dropbox:before { content: '\e96f'; } /* '' */
.icon-drupal:before { content: '\e970'; } /* '' */
.icon-eraser:before { content: '\e973'; } /* '' */
.icon-exchange-vertical:before { content: '\e974'; } /* '' */
.icon-export:before { content: '\e975'; } /* '' */
.icon-face-sad:before { content: '\e977'; } /* '' */
.icon-file:before { content: '\e97a'; } /* '' */
.icon-files:before { content: '\e97b'; } /* '' */
.icon-flag-fly:before { content: '\e97d'; } /* '' */
.icon-flag-alt:before { content: '\e97e'; } /* '' */
.icon-flag:before { content: '\e97f'; } /* '' */
.icon-flickr-alt:before { content: '\e980'; } /* '' */
.icon-flickr:before { content: '\e981'; } /* '' */
.icon-folder:before { content: '\e982'; } /* '' */
.icon-fullscreen:before { content: '\e983'; } /* '' */
.icon-gallery:before { content: '\e984'; } /* '' */
.icon-game:before { content: '\e985'; } /* '' */
.icon-gift:before { content: '\e986'; } /* '' */
.icon-hand-drag:before { content: '\e989'; } /* '' */
.icon-hand-open:before { content: '\e98a'; } /* '' */
.icon-hand-point-down:before { content: '\e98b'; } /* '' */
.icon-hand-point-up:before { content: '\e98e'; } /* '' */
.icon-hand-stop:before { content: '\e98f'; } /* '' */
.icon-harddrive:before { content: '\e990'; } /* '' */
.icon-harddrives:before { content: '\e991'; } /* '' */
.icon-headphone-alt:before { content: '\e992'; } /* '' */
.icon-headphone:before { content: '\e993'; } /* '' */
.icon-heart-broken:before { content: '\e994'; } /* '' */
.icon-help-alt:before { content: '\e996'; } /* '' */
.icon-help:before { content: '\e997'; } /* '' */
.icon-html5:before { content: '\e999'; } /* '' */
.icon-hummer:before { content: '\e99a'; } /* '' */
.icon-id-badge:before { content: '\e99b'; } /* '' */
.icon-image:before { content: '\e99c'; } /* '' */
.icon-import:before { content: '\e99d'; } /* '' */
.icon-infinite:before { content: '\e99e'; } /* '' */
.icon-info-alt:before { content: '\e99f'; } /* '' */
.icon-info:before { content: '\e9a0'; } /* '' */
.icon-ink-pen:before { content: '\e9a1'; } /* '' */
.icon-italic:before { content: '\e9a3'; } /* '' */
.icon-joomla:before { content: '\e9a4'; } /* '' */
.icon-jsfiddle:before { content: '\e9a5'; } /* '' */
.icon-key:before { content: '\e9a6'; } /* '' */
.icon-layers-alt:before { content: '\e9a7'; } /* '' */
.icon-layers:before { content: '\e9a8'; } /* '' */
.icon-layout-accordion-list:before { content: '\e9a9'; } /* '' */
.icon-layout-accordion-merged:before { content: '\e9aa'; } /* '' */
.icon-layout-accordion-separated:before { content: '\e9ab'; } /* '' */
.icon-layout-column2-alt:before { content: '\e9ac'; } /* '' */
.icon-layout-column2:before { content: '\e9ad'; } /* '' */
.icon-layout-column3-alt:before { content: '\e9ae'; } /* '' */
.icon-layout-column3:before { content: '\e9af'; } /* '' */
.icon-layout-column4-alt:before { content: '\e9b0'; } /* '' */
.icon-layout-column4:before { content: '\e9b1'; } /* '' */
.icon-layout-cta-btn-left:before { content: '\e9b2'; } /* '' */
.icon-layout-cta-btn-right:before { content: '\e9b3'; } /* '' */
.icon-layout-cta-center:before { content: '\e9b4'; } /* '' */
.icon-layout-cta-left:before { content: '\e9b5'; } /* '' */
.icon-layout-cta-right:before { content: '\e9b6'; } /* '' */
.icon-layout-grid2-alt:before { content: '\e9b7'; } /* '' */
.icon-layout-grid2-thumb:before { content: '\e9b8'; } /* '' */
.icon-layout-grid2:before { content: '\e9b9'; } /* '' */
.icon-layout-grid3-alt:before { content: '\e9ba'; } /* '' */
.icon-layout-grid3:before { content: '\e9bb'; } /* '' */
.icon-layout-grid4-alt:before { content: '\e9bc'; } /* '' */
.icon-layout-grid4:before { content: '\e9bd'; } /* '' */
.icon-layout-line-solid:before { content: '\e9be'; } /* '' */
.icon-layout-list-large-image:before { content: '\e9bf'; } /* '' */
.icon-layout-list-post:before { content: '\e9c0'; } /* '' */
.icon-layout-list-thumb-alt:before { content: '\e9c1'; } /* '' */
.icon-layout-list-thumb:before { content: '\e9c2'; } /* '' */
.icon-layout-media-center-alt:before { content: '\e9c3'; } /* '' */
.icon-layout-media-center:before { content: '\e9c4'; } /* '' */
.icon-layout-media-left-alt:before { content: '\e9c5'; } /* '' */
.icon-layout-media-left:before { content: '\e9c6'; } /* '' */
.icon-layout-media-overlay-alt-2:before { content: '\e9c7'; } /* '' */
.icon-layout-media-overlay-alt:before { content: '\e9c8'; } /* '' */
.icon-layout-media-overlay:before { content: '\e9c9'; } /* '' */
.icon-layout-media-right-alt:before { content: '\e9ca'; } /* '' */
.icon-layout-media-right:before { content: '\e9cb'; } /* '' */
.icon-layout-menu-full:before { content: '\e9cc'; } /* '' */
.icon-layout-menu-separated:before { content: '\e9cd'; } /* '' */
.icon-layout-menu-v:before { content: '\e9ce'; } /* '' */
.icon-layout-menu:before { content: '\e9cf'; } /* '' */
.icon-layout-placeholder:before { content: '\e9d0'; } /* '' */
.icon-layout-sidebar-2:before { content: '\e9d1'; } /* '' */
.icon-layout-sidebar-left:before { content: '\e9d2'; } /* '' */
.icon-layout-sidebar-none:before { content: '\e9d3'; } /* '' */
.icon-layout-sidebar-right:before { content: '\e9d4'; } /* '' */
.icon-layout-slider-alt:before { content: '\e9d5'; } /* '' */
.icon-layout-slider:before { content: '\e9d6'; } /* '' */
.icon-layout-tab-min:before { content: '\e9d7'; } /* '' */
.icon-layout-tab-v:before { content: '\e9d8'; } /* '' */
.icon-layout-tab-window:before { content: '\e9d9'; } /* '' */
.icon-layout-tab:before { content: '\e9da'; } /* '' */
.icon-layout-width-default-alt:before { content: '\e9db'; } /* '' */
.icon-layout-width-default:before { content: '\e9dc'; } /* '' */
.icon-layout-width-full:before { content: '\e9dd'; } /* '' */
.icon-layout:before { content: '\e9de'; } /* '' */
.icon-light-bulb:before { content: '\e9df'; } /* '' */
.icon-line-dashed:before { content: '\e9e0'; } /* '' */
.icon-line-dotted:before { content: '\e9e1'; } /* '' */
.icon-line-double:before { content: '\e9e2'; } /* '' */
.icon-linux:before { content: '\e9e5'; } /* '' */
.icon-list-ol:before { content: '\e9e6'; } /* '' */
.icon-list:before { content: '\e9e7'; } /* '' */
.icon-location-arrow:before { content: '\e9e8'; } /* '' */
.icon-location-pin:before { content: '\e9e9'; } /* '' */
.icon-lock:before { content: '\e9ea'; } /* '' */
.icon-loop:before { content: '\e9eb'; } /* '' */
.icon-magnet:before { content: '\e9ec'; } /* '' */
.icon-map-alt:before { content: '\e9ed'; } /* '' */
.icon-map:before { content: '\e9ee'; } /* '' */
.icon-marker-alt:before { content: '\e9ef'; } /* '' */
.icon-marker:before { content: '\e9f0'; } /* '' */
.icon-medall-alt:before { content: '\e9f1'; } /* '' */
.icon-medall:before { content: '\e9f2'; } /* '' */
.icon-menu-alt:before { content: '\e9f3'; } /* '' */
.icon-microphone-alt:before { content: '\e9f5'; } /* '' */
.icon-microphone:before { content: '\e9f6'; } /* '' */
.icon-microsoft-alt:before { content: '\e9f7'; } /* '' */
.icon-microsoft:before { content: '\e9f8'; } /* '' */
.icon-minus:before { content: '\e9f9'; } /* '' */
.icon-mobile:before { content: '\e9fa'; } /* '' */
.icon-money:before { content: '\e9fb'; } /* '' */
.icon-more:before { content: '\e9fd'; } /* '' */
.icon-mouse-alt:before { content: '\e9fe'; } /* '' */
.icon-mouse:before { content: '\e9ff'; } /* '' */
.icon-music-alt:before { content: '\ea00'; } /* '' */
.icon-music:before { content: '\ea01'; } /* '' */
.icon-new-window:before { content: '\ea03'; } /* '' */
.icon-notepad:before { content: '\ea04'; } /* '' */
.icon-package:before { content: '\ea05'; } /* '' */
.icon-paint-roller:before { content: '\ea07'; } /* '' */
.icon-palette:before { content: '\ea08'; } /* '' */
.icon-panel:before { content: '\ea09'; } /* '' */
.icon-paragraph:before { content: '\ea0a'; } /* '' */
.icon-pencil-alt:before { content: '\ea0b'; } /* '' */
.icon-pencil-alt-1:before { content: '\ea0c'; } /* '' */
.icon-pencil:before { content: '\ea0d'; } /* '' */
.icon-pie-chart:before { content: '\ea0e'; } /* '' */
.icon-pin-alt:before { content: '\ea0f'; } /* '' */
.icon-pin:before { content: '\ea11'; } /* '' */
.icon-pinterest-alt:before { content: '\ea12'; } /* '' */
.icon-pinterest:before { content: '\ea13'; } /* '' */
.icon-plug:before { content: '\ea14'; } /* '' */
.icon-printer:before { content: '\ea17'; } /* '' */
.icon-pulse:before { content: '\ea18'; } /* '' */
.icon-receipt:before { content: '\ea1b'; } /* '' */
.icon-reddit:before { content: '\ea1c'; } /* '' */
.icon-reload:before { content: '\ea1d'; } /* '' */
.icon-rss-alt:before { content: '\ea1f'; } /* '' */
.icon-rss:before { content: '\ea20'; } /* '' */
.icon-ruler-alt-triangle:before { content: '\ea21'; } /* '' */
.icon-ruler-alt:before { content: '\ea22'; } /* '' */
.icon-ruler-pencil:before { content: '\ea23'; } /* '' */
.icon-ruler:before { content: '\ea24'; } /* '' */
.icon-save-alt:before { content: '\ea25'; } /* '' */
.icon-save:before { content: '\ea26'; } /* '' */
.icon-server:before { content: '\ea28'; } /* '' */
.icon-share-alt:before { content: '\ea2a'; } /* '' */
.icon-share-right:before { content: '\ea2b'; } /* '' */
.icon-sharethis:before { content: '\ea2d'; } /* '' */
.icon-shield:before { content: '\ea2e'; } /* '' */
.icon-shift-left-alt:before { content: '\ea2f'; } /* '' */
.icon-shift-left:before { content: '\ea30'; } /* '' */
.icon-shift-right-alt:before { content: '\ea31'; } /* '' */
.icon-shift-right:before { content: '\ea32'; } /* '' */
.icon-shine:before { content: '\ea33'; } /* '' */
.icon-shopping-cart:before { content: '\ea35'; } /* '' */
.icon-shortcode:before { content: '\ea36'; } /* '' */
.icon-signal:before { content: '\ea37'; } /* '' */
.icon-skype:before { content: '\ea38'; } /* '' */
.icon-slice:before { content: '\ea39'; } /* '' */
.icon-smallcap:before { content: '\ea3a'; } /* '' */
.icon-soundcloud:before { content: '\ea3b'; } /* '' */
.icon-split-h:before { content: '\ea3c'; } /* '' */
.icon-split-v-alt:before { content: '\ea3d'; } /* '' */
.icon-split-v:before { content: '\ea3e'; } /* '' */
.icon-spray:before { content: '\ea3f'; } /* '' */
.icon-stack-overflow:before { content: '\ea40'; } /* '' */
.icon-stamp:before { content: '\ea41'; } /* '' */
.icon-stats-down:before { content: '\ea43'; } /* '' */
.icon-stats-up:before { content: '\ea44'; } /* '' */
.icon-support-bag:before { content: '\ea45'; } /* '' */
.icon-tablet:before { content: '\ea46'; } /* '' */
.icon-target:before { content: '\ea48'; } /* '' */
.icon-text:before { content: '\ea49'; } /* '' */
.icon-themify-favicon-alt:before { content: '\ea4a'; } /* '' */
.icon-themify-favicon:before { content: '\ea4b'; } /* '' */
.icon-themify-logo:before { content: '\ea4c'; } /* '' */
.icon-thought:before { content: '\ea4d'; } /* '' */
.icon-ticket:before { content: '\ea50'; } /* '' */
.icon-timer:before { content: '\ea52'; } /* '' */
.icon-trello:before { content: '\ea54'; } /* '' */
.icon-truck:before { content: '\ea55'; } /* '' */
.icon-tumblr-alt:before { content: '\ea56'; } /* '' */
.icon-tumblr:before { content: '\ea57'; } /* '' */
.icon-underline:before { content: '\ea5a'; } /* '' */
.icon-unlink:before { content: '\ea5b'; } /* '' */
.icon-upload:before { content: '\ea5d'; } /* '' */
.icon-uppercase:before { content: '\ea5e'; } /* '' */
.icon-vector:before { content: '\ea60'; } /* '' */
.icon-video-camera:before { content: '\ea61'; } /* '' */
.icon-video-clapper:before { content: '\ea62'; } /* '' */
.icon-view-grid:before { content: '\ea63'; } /* '' */
.icon-view-list-alt:before { content: '\ea64'; } /* '' */
.icon-view-list:before { content: '\ea65'; } /* '' */
.icon-vimeo-alt:before { content: '\ea66'; } /* '' */
.icon-vimeo:before { content: '\ea67'; } /* '' */
.icon-volume:before { content: '\ea68'; } /* '' */
.icon-wallet:before { content: '\ea69'; } /* '' */
.icon-wand:before { content: '\ea6a'; } /* '' */
.icon-wheelchair:before { content: '\ea6b'; } /* '' */
.icon-widget-alt:before { content: '\ea6c'; } /* '' */
.icon-widget:before { content: '\ea6d'; } /* '' */
.icon-widgetized:before { content: '\ea6e'; } /* '' */
.icon-window:before { content: '\ea6f'; } /* '' */
.icon-wordpress:before { content: '\ea70'; } /* '' */
.icon-world:before { content: '\ea71'; } /* '' */
.icon-write:before { content: '\ea72'; } /* '' */
.icon-youtube:before { content: '\ea74'; } /* '' */
.icon-zip:before { content: '\ea75'; } /* '' */
.icon-zoom-in:before { content: '\ea76'; } /* '' */
.icon-zoom-out:before { content: '\ea77'; } /* '' */
.icon-user-solid:before { content: '\f061'; } /* '' */
.icon-user-male-solid:before { content: '\f062'; } /* '' */
.icon-user-female-solid:before { content: '\f063'; } /* '' */
.icon-users-solid:before { content: '\f064'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dot:before { content: '\f111'; } /* '' */
.icon-star-half:before { content: '\f123'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-dot-empty:before { content: '\f1db'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */